body {
    background-color: #424549;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    max-width: 600px;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ddd;
}

footer {
    position: absolute;
    bottom: 20px;
    font-size: 0.9rem;
    color: #ccc;
}
.log-button {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 100px; 
   
}

.log-button p {
    font-size: 0.8rem; 
    margin-bottom: 5px; 
}

.log-button div {
    display: flex;
    justify-content: center;     
    gap: 5px; 
    margin-top: 10px; 
       
}