<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
</head>
<body>

    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('deposit') }}">Deposit</a></li>
            <li><a href="{{ url_for('transfer') }}">Transfer</a></li>
            <li><a href="{{ url_for('withdraw') }}">Withdraw</a></li>
            <li><a href="{{ url_for('account_details') }}">Account Details</a></li>
            <li><a href="{{ url_for('index') }}">Logout</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="content-box">
                    <select id="accountDropdown" onchange="updateBalance()">
                        <option value="" disabled selected>Select an account</option>
                        {% for account in accounts %}
                            <option value="{{ account.balance }}">{{ account.accountname }}</option>
                        {% endfor %}
                    </select>
                    <div style="padding-top:40px;">
                        <p>Account Balance:</p>
                        <p id="accountBalance" class="account-balance">$0.00</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="content-box">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="content-box">
                    <h3 style="margin-top:75px;">Open a new account</h3>
                    <form method="post"> 
                        <input type="hidden" name="form_id" value="open_account">
                        <input id="accountname" name="accountname" autocomplete="off" placeholder="Account name" required>
                        <button type="submit">Submit</button>
                    </form>
                    <h3>Close an existing account</h3>
                    <form method="post"> 
                        <input type="hidden" name="form_id" value="close_account">
                        <input id="accountname" name="accountname" autocomplete="off" placeholder="Account name" required>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="content-box">
                    <h3>Find ATMs for cash withdrawal near you.</h3>
                    <a href="https://www.google.com/maps/search/atms+near+sjsu/@37.3346272,-121.8823242,16z?entry=s&sa=X" target="_blank"><img src="{{ url_for('static', filename='images/map.png') }}" style="height:250px;"></a>
                    <!-- <iframe
                    width="600"
                    height="450"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=API_KEY
                        &q=placeholder">
                    </iframe> -->
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    
    <script>
        function updateBalance() {
            var dropdown = document.getElementById("accountDropdown");
            var balanceDisplay = document.getElementById("accountBalance");
            var selectedBalance = dropdown.options[dropdown.selectedIndex].value;
            balanceDisplay.textContent = "$" + parseFloat(selectedBalance).toFixed(2);
        }
    </script>

</body>
</html>