<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Deposit </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='deposit.css') }}">
</head>
<body>
    <div class="container">
        <h2>Mobile Deposit</h2>
        <div class="account-info">
            <h1> To: <strong> CMPE GROUP 1 BANK </strong></h1>
            <p> <strong> ACCOUNT NUMBER is: </strong><input type="number" class="account-number" placeholder="Enter Account Number"></p>
            <p> <strong> ACCOUNT NAME is: </strong><input type="text" class="account-name" placeholder="Enter Account Name"> </p>
            <p> <strong>Available balance as of </strong> 
                <span class="date-today"><span id="current-date"></span></span>:
            </p>    
        </div>
            <input type="text" class="amount-input" placeholder="Enter Deposit Amount" >
            <p>Daily Limit: <strong>$10,000</strong> | 30-Day Limit:<strong>$30,000</strong></p>
    </div>
        <div class = "buttons">
            <button class="cancel">Cancel</button>
            <button class="deposit">Deposit</button>
        </div>

        <script>
            function updateDate(){
                let today = new Date();
                let formattedDate = (today.getMonth()+1) + '/' + today.getDate() + '/' + today.getFullYear();
                document.getElementById("current-date").innerText = formattedDate;

            }
            window.onload =updateDate;

        </script>
    </body>
    
</html>