<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Deposit</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/deposit.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/loginregister.css') }}">
    </head>
    <body style="display:block;">
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('deposit') }}">Deposit</a></li>
                <li><a href="{{ url_for('transfer') }}">Transfer</a></li>
                <li><a href="{{ url_for('withdraw') }}">Withdraw</a></li>
                <li><a href="{{ url_for('account_details') }}">Account Details</a></li>
                <li><a href="{{ url_for('index') }}">Logout</a></li>
            </ul>
        </nav>
        <div class="container">
            <h2>Deposit</h2>
            <br>
            <div class="account-info">
                {% if message %}
                    <p>{{ message }}</p>
                {% endif %}
                <form method="post"> 
                    <input type="text" name="username" autocomplete="off" placeholder="Username" required>
                    <input type="text" name="accountname" autocomplete="off" placeholder="Account name" required>
                    <input type="number" name="depositamount" placeholder="Deposit amount" required>
                    <br>
                    <br>
                    <div id="upload-box">
                        <input type="file" id="file-input" accept="image/*" hidden />
                        <div id="upload-content">
                            <span style="font-size:150px;">⬆</span>
                            <p>Upload Electronic Check</p>
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="submit" class="login-button">Deposit</button>
                    </div>
                </form>
            </div>
        </div>
        <script src="{{ url_for('static', filename='scripts/deposit.js') }}"></script>
    </body>
</html>