<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Deposit </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='deposit.css') }}">
</head>
<body>
    <div class="container">
        <h2>Mobile Deposit</h2>
        <div class="account-info">
            <p> To: <bold><XYZ Bank Account number= </bold></p>
            <p>Available balance as of MM/DD/YYYY: <bold>Amount </bold></p>    
        </div>
            <input type="text" class="amount-input" value ="$0.00" readonly>
            <p>Daily Limit: <bold>$10,000</bold> | 30-Day Limit:<bold>$30,000</bold></p>
    </div>
        <div class = "buttons">
            <button class="cancel">Cancel</button>
            <button class="Deposit">Deposit</button>
        </div>
    </body>
    
</html>