<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Deposit</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/deposit.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/loginregister.css') }}">
    </head>
    <body>
        <div class="container">
            <h2>Deposit</h2>
            <br>
            <div class="account-info">
                <input type="text" class="account-number" placeholder="Username">
                <input type="text" class="account-name" placeholder="Account name">
            </div>
            <input type="text" class="amount-input" placeholder="Deposit amount">
            <br>
            <br>
            <p>Daily Limit: <strong>$10,000</strong> | 30-Day Limit: <strong>$30,000</strong></p>
            <br>
            <div id="upload-box">
                <input type="file" id="file-input" accept="image/*" hidden />
                <div id="upload-content">
                    <span style="font-size:150px;">⬆</span>
                    <p>Upload Electronic Check</p>
                </div>
            </div>
            <div class="buttons">
                <button class="nav-button">Dashboard</button>
                <button class="login-button">Deposit</button>
            </div>
        </div>
        <script src="{{ url_for('static', filename='scripts/deposit.js') }}"></script>
    </body>
</html>