<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Online Banking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cover.css') }}">
</head>
<body>
    <div class="container">
        <h1>Secure Online Banking</h1>
        <p>Manage your finances easily and securely from anywhere.<br>
           Sign up now to deposit, withdraw, and transfer funds.</p>
        <a href="{{ url_for('registration') }}" class="btn">Get Started</a>
    </div>
    <div class="log-button">
        <div>
            <p>Already have an account? <a href="{{ url_for('login') }}" style="color:black;">Log in.</a></p>
            
        </div>
    </div>
    <footer>
        CMPE 131 Section 2, Group 1
    </footer>
</body>
</html>