<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loginregister.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <form id="login-form" method="post"> 
            <input class="login-input" id="userid" name="userid" autocomplete="off" placeholder="Username">
            <br>
            <input class="login-input" id="password" name="password" autocomplete="off" type="password" placeholder="Password">
            <br>
            <button type="submit" class="login-button">Log in</button>
        </form>
        <br>
        <a href="{{ url_for('registration') }}"><button class="nav-button">Create a new account</button></a>
        <br>
        <a href="{{ url_for('index') }}"><button class="nav-button">Home</button></a>
    </div>
</body>
</html>