<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Transfer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/deposit.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/loginregister.css') }}">
    </head>
    <body style="display:block;">
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('deposit') }}">Deposit</a></li>
                <li><a href="{{ url_for('transfer') }}">Transfer</a></li>
                <li><a href="{{ url_for('withdraw') }}">Withdraw</a></li>
                <li><a href="{{ url_for('account_details') }}">Account Details</a></li>
                <li><a href="{{ url_for('index') }}">Logout</a></li>
            </ul>
        </nav>
        <div class="container">
            <h1>Transfer</h1>
            <form id="transfer-form" method="post">
                <input type="text" id="fromaccount" name="fromaccount" placeholder="Enter origin account name" required>
                <input type="text" id="toaccount" name="toaccount" placeholder="Enter destination account name" required>
                <input type="number" id="amount" name="amount" placeholder="Amount to transfer" required>
                <div class="buttons">
                    <button type="submit" class="login-button">Transfer</button>
                </div>
            </form>
        </div>
    </body>
</html>