<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Transfer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/transfer.css') }}">
    </head>
    <body style="display:block;">
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('deposit') }}">Deposit</a></li>
                <li><a href="{{ url_for('transfer') }}">Transfer</a></li>
                <li><a href="{{ url_for('withdraw') }}">Withdraw</a></li>
                <li><a href="{{ url_for('account_details') }}">Account Details</a></li>
                <li><a href="{{ url_for('index') }}">Logout</a></li>
            </ul>
        </nav>
        <div class="container">
            <div class="content-box">
            <h1>Bank Account Transfer</h1>
            <form id="transfer-form" method="post">
                <label for="from-account">From Account:</label>
                <input type="text" id="from-account" name="from-account" placeholder="Enter your account number" required>
    
                <label for="to-account">To Account:</label>
                <input type="text" id="to-account" name="to-account" placeholder="Enter recipient's account number" required>
    
                <label for="amount">Amount to Transfer:</label>
                <input type="number" id="amount" name="amount" placeholder="Amount to transfer" required>
                <div class="buttons">
                    <button type="submit" class="login-button">Transfer</button>
                </div>
            </form>
            </div>
        </div>
    </body>
</html>